#appView {
    position: relative;
    margin: 10px !important;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Raleway", sans-serif
}

* {
    box-sizing: border-box
}

body {
    font-family: Verdana, sans-serif;
    margin: 0;
    background-color: var(--bg-color) !important;
    color: var(--font-color) !important;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1rem;
    line-height: 1;
}

p {
    color: var(--font-color) !important;
}

* {
    box-sizing: border-box;
}

.items-start {
    align-items: start;
}

.justify-start {
    justify-content: flex-start;
}

.timptext {
    text-align: justify;
}

.timp-box {
    color: var(--secondary-color) !important;
}

.bold {
    font-weight: bold;
}

li {
    font-weight: bold;
}

/* TiMP logo style code to center on page */

.flex-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Slideshow container */
.slideshow-container {
    /* max-width: 1000px; */
    position: relative;
    margin: auto;
}

.mySlides {
    display: none
}

img {
    vertical-align: middle;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
    color: black;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

.button {
    background-color: #85C1E9;
    /* Grey */
    border-radius: 4px;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 0px 0px 15px 0px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
}

a {
    text-decoration: none;
}

.button2:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

/* Comment Section Style Code*/

.flex {
    display: flex;
}

.flex-1 {
    flex: 1;
}

.comment-container {
    /* border-radius: 8px; */
    border: 1px solid #e2e2e2;
    margin: 3rem auto;
    max-width: 600px;
    min-height: 200px;
}

.comment-container-title {
    background: #f8f8f8;
    border-bottom: 1px solid #ebebeb;
    /* border-top-left-radius: 8px;
    border-top-right-radius: 8px; */
    color: #2d3748;
    margin-top: 0;
    padding: 1rem 2rem;
}

.comment {
    margin-top: 1rem;
    padding: 1rem 2rem;
}

.comment-new {
    border-top: 1px solid #ebebeb;
    margin: 1rem 0;
    padding-top: 2rem;
}

.comment-avatar {
    color: black;
    background-color: black;
    border-radius: 50%;
    height: 48px;
    margin-right: 1rem;
    width: 48px;
}

.comment-author {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    margin-top: 0;
}

.comment-body {
    color: #4a5568;
    line-height: 1.4;
    margin: 0;
    padding-right: 1rem;
}

.comment-input {
    border-radius: 8px;
    border: 1px solid #dddd;
    box-sizing: border-box;
    color: #4a5568;
    font-size: 1rem;
    line-height: 1.4;
    padding: 0.8rem;
    width: 100%;
}

.comment-input:focus {
    border-color: #5c6ac4;
    outline: none;
}

.author-input {
    border-radius: 8px;
    border: 1px solid #dddd;
    box-sizing: border-box;
    color: #4a5568;
    font-size: 1rem;
    line-height: 1.4;
    padding: 0.8rem;
    width: 100%;
}

.author-input:focus {
    border-color: #5c6ac4;
    outline: none;
}

.comment-submit {
    background: #5c6ac4;
    border-radius: 4px;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 12px;
    letter-spacing: 0.05rem;
    margin-top: 0.5rem;
    padding: 10px 16px;
    text-transform: uppercase;
}

.comment-submit:hover,
.comment-submit:focus {
    filter: brightness(110%);
}

/* Simple css to style dark mode button like a toggle switch */

.theme-switch-wrapper {

    display: flex;

    flex-direction: row;

    align-items: center;

    padding: 1em;

}

em {

    margin-left: 10px;

    font-size: 1rem;

    font-style: normal;

    font-weight: bold;

    padding: 5px 10px;

    border-radius: 5px;

}

.theme-switch {

    display: inline-block;

    height: 23px;

    position: relative;

    width: 40px;

}

.theme-switch input {

    display: none;

}

.slider {

    background-color: #000;

    bottom: 0;

    cursor: pointer;

    left: 0;

    position: absolute;

    right: 0;

    top: 0;

    transition: .4s;

}

.slider:before {

    background-color: #fff;

    bottom: 4px;

    content: "";

    height: 15px;

    left: 4px;

    position: absolute;

    transition: .4s;

    width: 15px;

}

input:checked+.slider {

    background-color: #85C1E9;

}

input:checked+.slider:before {

    transform: translateX(17.5px);

}

.slider.round {

    border-radius: 34px;

}

.slider.round:before {

    border-radius: 50%;

}

/* root color (light mode) id names & dark theme color id names for dark mode button */

:root {

    --primary-color: #302AE6;

    --secondary-color: #000;

    --font-color: #000;

    --bg-color: #f5f5f5;

}

[data-theme="dark"] {

    --primary-color: #9A97F3;

    --secondary-color: #000;

    --font-color: white;

    --bg-color: #333;

}

/* key frames style code*/

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {

    .prev,
    .next,
    .text {
        font-size: 11px
    }
}